@media all and (orientation: portrait) {
    body {
        background: #fff;
    }
}

@media all and (orientation: landscape) {
    body {
        background: #fff;
    }
}

#example {
    opacity: 0.5;
    filter: alpha(opacity=30);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

h1 {
    size: 10vmin;
}

#preheader {
    background-color: #fe9900;
    height: 1.45vw;
    border-bottom: #000000 solid .4vw;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 6vw;
}

#headerbg{
    z-index: -50;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 49vw;
    height: 6vw;
    background: url(../img/logo.png) no-repeat;
    margin: 1vw 1.3vw;
    background-size: 15vw auto;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 49vw;
    height: 6vw;
    text-align: right;
    margin: .5vw 2.3vw auto auto;
    font-size: 2vw;
    color: white;
}

hr {
    border: none;
    background-color: white;
    color: white;
    height: .2vw;
    border-radius: .2vw;
    text-align: right;
    margin-left: 7vw;
}

/* link */

nav a:link,
nav a:visited {
    color: white;
}

nav a:hover {
    color: whitesmoke;
}

nav a:active {
    color: whitesmoke;
}

nav a {
    text-decoration: none;
}

#bigslider {
   /* background-color: #c58030;*/
    background-color: #cccccc;
    height: 34vw;
}
#contim {
    width: 19.7vw;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}



footer{
    background-color: #3B3B43;
    height: 4vw;
}
/* instagramfeed S */

div.instfed{
    background-color: white;
    height: 26vw;
    /*opacity: 0.5;*/
}
#instafeed {
    justify-content: space-around;
    width: 100%;
    margin: 1vw 6vw 5vw 6vw;
}
#instafeed .divi {
    width: 12.5vw;
}
#instafeed .divi img {
    border: 3px solid black;
    width: 100%;
}
#instalable a{
    color: #ce6f11;
    text-decoration: none;
}
#instalable {
    padding: 1.5vw 0 0 4.5vw;
}

/* instagramfeed F */

/* form S */

div.mform{
    background-color: #8A8484;
    height: 42vw;
    justify-content: flex-end;
    /*opacity: 0.5;*/
}
#bigform{
    width: 52%;
    margin-top:2vw ;
}
#bigform form input{
    height: 2.9vw;
    width: 41vw;
    background-color: #CCCCCC;
    border: 0;
    padding: 0 0 0 2vw;
    font-weight: bold;
}
#bigform form input:first-of-type {
    border-radius: 1vw 1vw 0 0 ;
}
#bigform form textarea {
    border-radius: 0 0 1vw 1vw;
    height: 14vw;
    width: 41vw;
    resize: none;
    background-color: #CCCCCC;
    padding: 0 0 0 2vw;
}
#bigform form label{
    margin-left: 1.3vw;
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
}

/* form F */

/* Tips S */

div.tips{
    background-color: #cccccc;
    /* height: 30vw;*/
    justify-content: center;
}
.tips .flexy{
    background-color: aquamarine;
    /* border: 4px double red;*/
    width: 20vw;
    height: 20vw;
    margin: 1vw 0.5vw;
    overflow: hidden;
    border: 0.5vw solid black;
    min-width: 200px;
    min-height: 200px;
}
.tips div:first-child {
    width: 88vw;
    height: 5vw;
    justify-content: space-around;
    min-height: 20px;
    border: none;
}
.flexy img {
    /*welcome too*/
    height: 100%;
    width: auto;
    max-width: 100%;
}
.tips .flexy a{
    color: #ce6f11;
    text-decoration: none;
}

/* Tips F */

/*Welcome S*/

.welcome .flexy{
    background-color: aquamarine;
    /* border: 4px double red;*/
    width: 30vw;
    height: 33vw;
    margin: 0 0.5vw;

}
.welcome div:first-child{
    width: 80vw;
    height: 5vw;
    justify-content: space-around;
    text-align: center;
    font-size: 2.5vw;
}
div.welcome{
    height: 40vw;
    /*background-color: white;*/
    justify-content: center;
    padding: 1vw 0;
    /*opacity: 0.5;*/
}

/*Welcome F*/
