@media all and (orientation: portrait) {
    body {
        background: #fff;
    }
}

@media all and (orientation: landscape) {
    body {
        background: #fff;
    }
}

#example {
    opacity: 0.5;
    filter: alpha(opacity=30);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

h1 {
    size: 10vmin;
}

#preheader {
    background-color: #fe9900;
    height: 1.45vw;
    border-bottom: #000000 solid .4vw;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 6vw;
}

#headerbg{
    z-index: -50;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 49vw;
    height: 6vw;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    margin: 1vw 1.3vw;
    background-size: 15vw auto;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 49vw;
    height: 6vw;
    text-align: right;
    margin: .5vw 2.3vw auto auto;
    font-size: 2vw;
    color: white;
}

hr {
    border: none;
    background-color: white;
    color: white;
    height: .2vw;
    border-radius: .2vw;
    text-align: right;
    margin-left: 7vw;
}

/* link */

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: whitesmoke;
}

a:active {
    color: whitesmoke;
}

a {
    text-decoration: none;
}

#bigslider {
   /* background-color: #c58030;*/
    background-color: #cccccc;
    height: 34vw;
}
#contim {
    width: 19.7vw;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.welcome .flexy{
    background-color: aquamarine;
   /* border: 4px double red;*/
    width: 30vw;
    height: 33vw;
    margin: 0 0.5vw;
}
.welcome div:first-child{
    width: 80vw;
    height: 5vw;
    justify-content: space-around;

}
.tips div:first-child{
    width: 80vw;
    height: 5vw;
    justify-content: space-around;

}
div.welcome{
    height: 40vw;
    /*background-color: white;*/
    justify-content: center;
    padding: 1vw 0;
    /*opacity: 0.5;*/
}
div.tips{
    background-color: #cccccc;
    height: 30vw;
    justify-content: center;
    /*opacity: 0.5;*/
}
.tips .flexy{
    background-color: aquamarine;
    /* border: 4px double red;*/
    width: 23vw;
    height: 23vw;
    margin: 0 0.5vw;
}
div.instfed{
    background-color: white;
    height: 26vw;
    /*opacity: 0.5;*/
}
div.mform{
    background-color: #8A8484;
    height: 42vw;
    /*opacity: 0.5;*/
}
footer{
    background-color: #3B3B43;
    height: 4vw;
}